.tabs {
  display: table-row;
}
.tabs div a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
.tabs div a:hover {
  color: #ffffff;
}
#edit-shift-right {
  margin-left: 1em;
}
.tabs div {
  display: table-cell;
  width: 60px;
  height: 30px;
  background-color: #a6a7a2;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 2px;
  border-spacing: 2px;
}
.row .form-item-enabled {
  padding-right: 6px;
}
#edit-disabled-properties {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #f4fa58;
  padding: 10px;
}
.description {
  font-style: italic;
}
.tabs .form-item-rule-new-name {
  border-color: #a6a7a2;
  border-width: 1px;
  border-style: solid;
  border-bottom-style: none;
  background-color: #ffffff;
  display: table-cell;
}
.tabs .form-item-rule-new-name input {
  width: 100px;
}
#advanced_properties_list {
  display: table;
}
#advanced_properties_list .row {
  display: table-row;
}
#advanced_properties_list .row div {
  display: table-cell;
}
#advanced_properties_list .row .value {
  width: 400px;
}
#advanced_toggle {
  font-size: 8;
}
#edit-licence-key {
  width: 800px;
}
